version: "3"

services:
    web:
        build: ./django-src/dockerfiles/django
        command: python manage.py runserver 0.0.0.0:8000
        volumes:
        - ./app:/app
        ports:
        - "8000:8000"